.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	transition: all 2s;
}
iframe {
	pointer-events: auto;
	box-shadow: 4px 0 8px 3px #333;
	border-radius: 20px;
	border: none;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card {
	position: relative;
	padding-bottom: min(60vh, 90vw);

	height: 0;
	width: min(60vh, 90vw);
	overflow: hidden;
	border: 5px solid #fff;
	border-radius: 24px;
	box-shadow: 0px 1px 8px 2px #2e2e2e;
}

.alphabet {
	pointer-events: none;
	user-select: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	color: rgb(255, 255, 255);
	font-size: min(85vh, 122vw);
	background-color: rgb(255, 0, 76);
	text-align: center;

	opacity: 0.4;
	overflow: hidden;
	line-height: 1;
	vertical-align: top;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
}
